jupyter-book
numpy
pandas
matplotlib
seaborn
scikit-learn
scipy
graphviz
mlxtend
nltk
hdbscan
torch
Pillow
torchsummary
wget
monai
medmnist
rasterio
shapely
fiona
geopandas
pyproj
folium
segyio
mayavi